.gallery {
    display: flex;
    padding: 24px 156px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.gallery li img {
    width: 360px;
    height: 200px;
    flex-shrink: 0;
}


.gallery li {
    width: 360px;
    height: 200px;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
}